<!-- TODO: Remove this comment after mapping is mergeable into bringup -->
<!-- NOTE: Change to the `mapping` branch of `riptide_bringup` so this is actually called by `simulation.launch`! -->
<launch>
  <arg name="namespace" default="puddles" doc="Namespace of the vehicle" />
  <node name="mapping" pkg="riptide_mapping" type="mapping.py" ns="$(arg namespace)" />
</launch>